theme = nord

# vertical split
keybind = super+d=new_split:right
# horizontal split
keybind = super+shift+d=new_split:down

# new tab
keybind = super+t=new_tab

# copy on select
copy-on-select = clipboard

# shell integrations
shell-integration = zsh
shell-integration-features = cursor, sudo, title
